
@{
    ViewData["Title"] = "Product View";
}

<!-- breadcum start -->
<div class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center gap-2">
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 20px; color: #67bccd">
                        <i class="las la-home"></i>
                    </a>
                    <span style="font-size: 14px; color: #67bccd"><i class="las la-chevron-right"></i></span>

                    <p class="mb-0" style="font-size: 16px; color: #67bccd">Shop</p>

                    <span style="font-size: 14px; color: #67bccd"><i class="las la-chevron-right"></i></span>

                    <p class="mb-0 text-capitalize" style=" font-size: 16px; color: #4b5563; font-weight: 500;">Italian chayer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcum end -->

<!-- product view -->
<div class="prod_view pt-4 pb-5 mb-4 ">
    <div class="container">
        <div class="row">

            <!-- product image -->
            <div class="col-md-6">
                <div class="image-area pt-0 mb-4">
                    <img src="~/images/products/product9.jpg" class="w-100" alt="">
                </div>
            </div>
            <!-- product image end -->

            <!-- product content -->
            <div class="col-md-6">
                <div class="content-area">

                    <h2 class="prod_title">Italian CHAYER</h2>

                    <div class="row gy-1">
                        <p class="mb-0 d-flex align-items-baseline gap-2">
                            <span style="font-size: 17px; font-weight: 500;">Model:</span>
                            <span style="font-size: 15px;">Sprint</span>
                        </p>
                        <p class="mb-0 d-flex align-items-baseline gap-2">
                            <span style="font-size: 17px; font-weight: 500;">Brand:</span>
                            <span style="font-size: 15px;">Apex</span>
                        </p>
                        <p class="mb-0 d-flex align-items-baseline gap-2">
                            <span style="font-size: 17px; font-weight: 500;">SKU:</span>
                            <span style="font-size: 15px;">BE45VGRT</span>
                        </p>
                        <p class="mb-0 d-flex align-items-baseline gap-2" style="font-weight: 500;">
                            <span style="font-size: 17px; font-weight: 500;">Availability:</span>
                            <span style="color: #16a34a; font-size: 15px;">In Stock</span>
                        </p>
                    </div>

                    <div class="d-flex align-items-baseline mb-3 mt-2 gap-2 font-roboto">
                        <p class="mb-0" style="color: #67bccd; font-size: 20px; font-weight: 500;">$45.00</p>
                        <p class="mb-0" style="color: #9ca3af; font-size: 14px; text-decoration: line-through">$50.00</p>
                        <p class="mb-0" style="color: #16a34a; font-size: 13px;">(10% discount)</p>
                    </div>

                    <p class="mt-1 mb-3 short-description" style="color: #9ca3af; font-size: 15px;">This a special! You need only to choose and click. 100% orginal product. Feel free to call. We will support you 24/7. Good Day</p>

                    <!-- cart & wishlist button -->
                    <div class="d-flex gap-3 mt-4">
                        <a asp-area="" asp-controller="Cart" asp-action="ShoppingCart" class="default_btn1">
                            <i class="las la-shopping-bag text-base"></i> Add to cart
                        </a>
                        <a asp-area="" asp-controller="Cart" asp-action="WishList" class="default_btn2">
                            <i class="las la-heart text-base"></i> Wishlist
                        </a>
                    </div>
                    <!-- cart button end -->

                </div>
                
            </div>
            <!-- product content end -->

        </div>
    </div>
</div>
<!-- product view end -->

<!-- product view details -->
<div class="container pb-12 md:pb-16">
    <h4 class="border-bottom border-secondary pb-3 text-capitalize">product details</h4>

    <div class="row mt-4">
        <div class="col-md-7">
            <div class="row gy-2 mb-4" style="font-size: 15px;">
                <p class="mb-0 long-description">The general problem of simulating (or creating) intelligence has been broken down into sub-problems. These consist of particular traits or capabilities that researchers expect an intelligent system to display. The traits described below have received the most attention. Regression is the attempt to produce a function that describes the relationship between inputs and outputs and predicts how the outputs should change as the inputs change. Both classifiers and regression learners can be viewed as. Classifier performance depends greatly on the characteristics of the data to be classified, such as the dataset size, distribution of samples across classes, dimensionality, and the level of noise.</p>
            </div>

            <!-- table -->
            <table class="table-auto table-bordered table-responsive border-secondary w-100 text-start mt-4" style="font-size: 14px;">
                <tr>
                    <th class="py-2 px-3 fw-bold w-25">Color</th>
                    <td class="py-2 px-3">Black, Brows, Red</td>
                </tr>
                <tr>
                    <th class="py-2 px-3 fw-bold w-25">Material</th>
                    <td class="py-2 px-3">Artificial glass</td>
                </tr>
                <tr>
                    <th class="py-2 px-3 fw-bold w-25">Weight</th>
                    <td class="py-2 px-3">450gm</td>
                </tr>
            </table>
            <!-- table -->

        </div>
    </div>
</div>
<!-- product view details end -->

<!-- related product wrapper start -->
<div class="related_product py-4 mt-5">
    <div class="container pb-12 md:pb-16">
        <h5 class="text-uppercase mb-4 fw-bold text-sm"> Related Product </h5>
        <!-- product grid start -->
        <div class="row gx-4 gy-4">

            <!-- single product -->
            <div class="col-md-3">
                <div class=" single_arrival bg-white shadow rounded-2 overflow-hidden">
                    <!-- product image -->
                    <div class="new_arriv_img position-relative">
                        <img src="~/images/products/product2.jpg" alt="">
                        <div class="prodcut_hovcont">
                            <a target="_blank" class="search_icon" asp-area="" asp-controller="Product" asp-action="ProductView">
                                <i class="las la-search"></i>
                            </a>
                            <a class="love_icon" asp-area="" asp-controller="Cart" asp-action="WishList">
                                <i class="lar la-heart"></i>
                            </a>
                        </div>
                    </div>
                    <!-- product image end -->
                    <!-- product content -->
                    <div class="pt-4 pb-3 px-4">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView">
                            <h5 class="product_title text-uppercase text-lg mb-2 text-black">Cusion Sofa</h5>
                        </a>
                        <div class="d-flex align-items-baseline mb-1 gap-2 font-roboto">
                            <p class="fw-bold" style="font-size: 17px; color: #67bccd">$45.00</p>
                            <p class="text-decoration-line-through" style="font-size: 13px; color: #9ca3af">$55.00</p>
                        </div>
                    </div>
                    <a href="shopping-cart.html" class="default_btn1">Add to cart</a>
                    <!-- product content end -->
                </div>
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="col-md-3">
                <div class=" single_arrival bg-white shadow rounded-2 overflow-hidden">
                    <!-- product image -->
                    <div class="new_arriv_img position-relative">
                        <img src="~/images/products/product3.jpg" alt="">
                        <div class="prodcut_hovcont">
                            <a target="_blank" class="search_icon" asp-area="" asp-controller="Product" asp-action="ProductView">
                                <i class="las la-search"></i>
                            </a>
                            <a class="love_icon" asp-area="" asp-controller="Cart" asp-action="WishList">
                                <i class="lar la-heart"></i>
                            </a>
                        </div>
                    </div>
                    <!-- product image end -->
                    <!-- product content -->
                    <div class="pt-4 pb-3 px-4">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView">
                            <h5 class="product_title text-uppercase text-lg mb-2 text-black">Cusion Bed</h5>
                        </a>
                        <div class="d-flex align-items-baseline mb-1 gap-2 font-roboto">
                            <p class="fw-bold" style="font-size: 17px; color: #67bccd">$45.00</p>
                            <p class="text-decoration-line-through" style="font-size: 13px; color: #9ca3af">$55.00</p>
                        </div>
                    </div>
                    <a href="shopping-cart.html" class="default_btn1">Add to cart</a>
                    <!-- product content end -->
                </div>
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="col-md-3">
                <div class=" single_arrival bg-white shadow rounded-2 overflow-hidden">
                    <!-- product image -->
                    <div class="new_arriv_img position-relative">
                        <img src="~/images/products/product4.jpg" alt="">
                        <div class="prodcut_hovcont">
                            <a target="_blank" class="search_icon" asp-area="" asp-controller="Product" asp-action="ProductView">
                                <i class="las la-search"></i>
                            </a>
                            <a class="love_icon" asp-area="" asp-controller="Cart" asp-action="WishList">
                                <i class="lar la-heart"></i>
                            </a>
                        </div>
                    </div>
                    <!-- product image end -->
                    <!-- product content -->
                    <div class="pt-4 pb-3 px-4">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView">
                            <h5 class="product_title text-uppercase text-lg mb-2 text-black">Square Bed</h5>
                        </a>
                        <div class="d-flex align-items-baseline mb-1 gap-2 font-roboto">
                            <p class="fw-bold" style="font-size: 17px; color: #67bccd">$45.00</p>
                            <p class="text-decoration-line-through" style="font-size: 13px; color: #9ca3af">$55.00</p>
                        </div>
                    </div>
                    <a href="shopping-cart.html" class="default_btn1">Add to cart</a>
                    <!-- product content end -->
                </div>
            </div>
            <!-- single product end -->
            <!-- single product -->
            <div class="col-md-3">
                <div class=" single_arrival bg-white shadow rounded-2 overflow-hidden">
                    <!-- product image -->
                    <div class="new_arriv_img position-relative">
                        <img src="~/images/products/product7.jpg" alt="">
                        <div class="prodcut_hovcont">
                            <a target="_blank" class="search_icon" asp-area="" asp-controller="Product" asp-action="ProductView">
                                <i class="las la-search"></i>
                            </a>
                            <a class="love_icon" asp-area="" asp-controller="Cart" asp-action="WishList">
                                <i class="lar la-heart"></i>
                            </a>
                        </div>
                    </div>
                    <!-- product image end -->
                    <!-- product content -->
                    <div class="pt-4 pb-3 px-4">
                        <a target="_blank" asp-area="" asp-controller="Product" asp-action="ProductView">
                            <h5 class="product_title text-uppercase text-lg mb-2 text-black">Swimming chair</h5>
                        </a>
                        <div class="d-flex align-items-baseline mb-1 gap-2 font-roboto">
                            <p class="fw-bold" style="font-size: 17px; color: #67bccd">$45.00</p>
                            <p class="text-decoration-line-through" style="font-size: 13px; color: #9ca3af">$55.00</p>
                        </div>
                    </div>
                    <a href="shopping-cart.html" class="default_btn1">Add to cart</a>
                    <!-- product content end -->
                </div>
            </div>
            <!-- single product end -->

        </div>
        <!-- product grid end -->

    </div>
</div>
<!-- related product wrapper end -->