
@{
    ViewData["Title"] = "Confirm Order";
}

<h1 class="alert alert-success">Confirm Order</h1>

<div class="p-5" style="height: 400px; width: 100%; text-align: center; background: #ddd">
    <h3>@ViewBag.msg</h3>
    <p>Thank you for your Order</p>
    <p class="text-success">One of our representative will contact with you immediately.</p>
</div>

