<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerceProject</title>

    <!-- Line Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ECommerceProject.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Header -->
    <header class="d-print-none">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">E-Commerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="ShopGrid">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="WishList">Wish List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="ShoppingCart">Cart</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->
    <!-- Search -->
    <div class="container main-search d-print-none">
        <div class="row">
            <div class="col-md-6 mx-auto my-3">
                <div class="search-with-box">

                    <!-- Search Area -->
                    <div class="search-menu-div">
                        <form asp-action="">
                            <div class="input-group d-flex">
                                <input type="text" value="" name="" class="form-control search-input" />
                                <button type="submit" class="btn search-btn">
                                    <i class="search_icon las la-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Search Area End -->
                    <!-- Search Result -->
                    <div class="sresult">
                        <div id="" class="">
                            <ul class="sresult-products">

                                <li class="sresult-product">
                                    <a asp-controller="" asp-action="" class="sresult-item">
                                        <span class="sresult-thumbnail"> <img src="~/images/products/product9.jpg" alt=""></span>
                                        <span class="d-block overflow-hidden">
                                            <span class="sresult-title">Korian Soft Resting Chair with 100% cotton</span>
                                            <span class="sresult-description">
                                                Model - D-Link Cat-5E,
                                                Brand - Italy
                                            </span>
                                            <div class="sresult-price-list">
                                                <span class="sresult-price">
                                                    USD- 13.00<small class="sresult-price-without-discount">18.00</small>
                                                </span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                                <li class="sresult-product">
                                    <a asp-controller="" asp-action="" class="sresult-item">
                                        <span class="sresult-thumbnail"> <img src="~/images/products/product9.jpg" alt=""></span>
                                        <span class="d-block overflow-hidden">
                                            <span class="sresult-title">Korian Soft Resting Chair with 100% cotton</span>
                                            <span class="sresult-description">
                                                Model - D-Link Cat-5E,
                                                Brand - Italy
                                            </span>
                                            <div class="sresult-price-list">
                                                <span class="sresult-price">
                                                    USD- 13.00<small class="sresult-price-without-discount">18.00</small>
                                                </span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                                <li class="sresult-product">
                                    <a asp-controller="" asp-action="" class="sresult-item">
                                        <span class="sresult-thumbnail"> <img src="~/images/products/product9.jpg" alt=""></span>
                                        <span class="d-block overflow-hidden">
                                            <span class="sresult-title">Korian Soft Resting Chair with 100% cotton</span>
                                            <span class="sresult-description">
                                                Model - D-Link Cat-5E,
                                                Brand - Italy
                                            </span>
                                            <div class="sresult-price-list">
                                                <span class="sresult-price">
                                                    USD- 13.00<small class="sresult-price-without-discount">18.00</small>
                                                </span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                                <li class="sresult-product">
                                    <a asp-controller="" asp-action="" class="sresult-item">
                                        <span class="sresult-thumbnail"> <img src="~/images/products/product9.jpg" alt=""></span>
                                        <span class="d-block overflow-hidden">
                                            <span class="sresult-title">Korian Soft Resting Chair with 100% cotton</span>
                                            <span class="sresult-description">
                                                Model - D-Link Cat-5E,
                                                Brand - Italy
                                            </span>
                                            <div class="sresult-price-list">
                                                <span class="sresult-price">
                                                    USD- 13.00<small class="sresult-price-without-discount">18.00</small>
                                                </span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                                <li class="sresult-product">
                                    <a asp-controller="" asp-action="" class="sresult-item">
                                        <span class="sresult-thumbnail"> <img src="~/images/products/product9.jpg" alt=""></span>
                                        <span class="d-block overflow-hidden">
                                            <span class="sresult-title">Korian Soft Resting Chair with 100% cotton</span>
                                            <span class="sresult-description">
                                                Model - D-Link Cat-5E,
                                                Brand - Italy
                                            </span>
                                            <div class="sresult-price-list">
                                                <span class="sresult-price">
                                                    USD- 13.00<small class="sresult-price-without-discount">18.00</small>
                                                </span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                                <li class="sresult-product">
                                    <a asp-controller="" asp-action="" class="sresult-item">
                                        <span class="sresult-thumbnail"> <img src="~/images/products/product9.jpg" alt=""></span>
                                        <span class="d-block overflow-hidden">
                                            <span class="sresult-title">Korian Soft Resting Chair with 100% cotton</span>
                                            <span class="sresult-description">
                                                Model - D-Link Cat-5E,
                                                Brand - Italy
                                            </span>
                                            <div class="sresult-price-list">
                                                <span class="sresult-price">
                                                    USD- 13.00<small class="sresult-price-without-discount">18.00</small>
                                                </span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                                <li class="sresult-product">
                                    <a asp-controller="" asp-action="" class="sresult-item">
                                        <span class="sresult-thumbnail"> <img src="~/images/products/product9.jpg" alt=""></span>
                                        <span class="d-block overflow-hidden">
                                            <span class="sresult-title">Korian Soft Resting Chair with 100% cotton</span>
                                            <span class="sresult-description">
                                                Model - D-Link Cat-5E,
                                                Brand - Italy
                                            </span>
                                            <div class="sresult-price-list">
                                                <span class="sresult-price">
                                                    USD- 13.00<small class="sresult-price-without-discount">18.00</small>
                                                </span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                    <!-- Search Result End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Search End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-print-none">
        <div class="container">
            <span class="fw-bold" style="color: #67bccd;">&copy;</span> 2024 - ECommerceProject
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.search-input').keypress(function () {
                $('.sresult').css('display', 'block');
            })
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>